div.panel-score {
    background-color: black;
    background-image: url(./res/scorepanel/background.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    z-index: -1;
}

.panel-score>.player1,
.panel-score>.player2,
.panel-score>.point1,
.panel-score>.point2,
.panel-score>.bonus {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.panel-score>.point1,
.panel-score>.point2 {
    width: 95px;
    height: 82px;
}

.panel-score>.point1 {
    left: 20px;
    top: 94px;
    background-image: url(./res/scorepanel/point1.gif);
}

.panel-score>.point2 {
    left: 142px;
    top: 94px;
    background-image: url(./res/scorepanel/point2.gif);
}

.panel-score>.player1,
.panel-score>.player2 {
    width: 62px;
    height: 7px;
}

.panel-score>.player1 {
    left: 40px;
    top: 80px;
    background-image: url(./res/scorepanel/player1.gif);
}

.panel-score>.player2 {
    left: 150px;
    top: 80px;
    background-image: url(./res/scorepanel/player2.gif);
}

.panel-score>.hi-score {
    position: absolute;
    left: 136px;
    top: 20px;
    color: red;
    font-size: 11px;
    font-weight: bolder;
    width: 110px;
}

.panel-score>.stage {
    position: absolute;
    left: 140px;
    top: 36px;
    color: white;
    font-size: 10px;
    font-weight: bolder;
    width: 100px;
}

.panel-score>.bonus {
    width: 63px;
    height: 15px;
    background-image: url(./res/scorepanel/bunds.gif);
    left: 30px;
    top: 55px;
}

.panel-score>.normal-count,
.panel-score>.rapid-count,
.panel-score>.medium-count,
.panel-score>.heavy-count,
.panel-score>.total-count {
    position: absolute;
    width: 22px;
    height: 11px;
    font-size: 11px;
    color: white;
    text-align: right;
    font-weight: bolder;
    line-height: 11px;
    left: 85px;
}

.panel-score>.normal-p1,
.panel-score>.rapid-p1,
.panel-score>.medium-p1,
.panel-score>.heavy-p1,
.panel-score>.total-p1 {
    position: absolute;
    width: 50px;
    height: 11px;
    font-size: 11px;
    color: white;
    text-align: right;
    font-weight: bolder;
    line-height: 11px;
    left: 0;
}

.panel-score>.normal-count,
.panel-score>.normal-p1 {
    top: 95px;
}

.panel-score>.rapid-count,
.panel-score>.rapid-p1 {
    top: 119px;
}

.panel-score>.medium-count,
.panel-score>.medium-p1 {
    top: 143px;
}

.panel-score>.heavy-count,
.panel-score>.heavy-p1 {
    top: 167px;
}

.panel-score>.total-count,
.panel-score>.total-p1 {
    top: 195px;
}